<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FlashCardQuiz</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cards">
                <span class="bi bi-card-text-nav-menu" aria-hidden="true"></span> My Cards
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="freerun">
                <span class="bi bi-play-fill-nav-menu" aria-hidden="true"></span> Free Run
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quizbuilder">
                <span class="bi bi-plus-square-nav-menu" aria-hidden="true"></span> Build a Quiz
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="savedquizzes">
                <span class="bi bi-list-ul-nav-menu" aria-hidden="true"></span> Saved Quizzes
            </NavLink>
        </div>
    </nav>
</div>